{% extends 'WapistranoCoreBundle::base.html.twig' %}
{% block content %}
{% form_theme form 'WapistranoCoreBundle:Form:fields.html.twig' %}
{{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}

<div class="box primary">
    <header>
        <div class="icons">
            <i class="fa fa-building-o"></i>
        </div>
        <h5> {{ barTitle }}</h5>
        <div class="toolbar">

        </div>
    </header>
    {% if null != flashMessage %}
        <div id="flashMessage" class="" style="">
            <i id="flashMessageClose" class="glyphicon glyphicon-remove" style="float:right"></i>
            {{ flashMessage }}

        </div>
    {% endif %}

</div>
{{ form_errors(form) }}
<div id="collapse2" class="body">
    <div class="col-lg-6">
        <div class="box">
            <div class="body">
                <div id="headBoxLeft">
                    <div class="form-group">
                        {{ form_label(form.task, null, { 'attr': {'class': 'control-label col-lg-4'} }) }}
                        <div class="col-lg-4">
                            {{ form_widget(form.task, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label(form.description) }}
                        <div class="col-lg-4">
                            {{ form_widget(form.description, { 'attr': {'class': 'form-control'} }) }}
                        </div>

                    </div>
                    {{ form_end(form, {'render_rest': true}) }}
                </div>


            </div><!-- /.body -->
        </div><!-- /.box -->
    </div>
    <div class="col-lg-6">
        <div class="box">
            <div class="body">
                <div id="headBoxRight">
                    <strong>Deployments hosts</strong>
                    <ul>
                        {% for role in roles %}
                            <li>{{ role.host.name }}
                                {% if role.host.alias != "" %}
                                    ({{ role.host.alias }})
                                {% endif %}
                            </li>

                        {% endfor %}
                    </ul>

                </div><!-- /#trigo -->
            </div><!-- /.body -->
        </div><!-- /.box -->
    </div>
</div>
    <div id="collapse1" class="body">
        <div class="col-lg-12">
            <div class="box">
                <div class="body">
                    <h4>Execution log

                    </h4>
                    <div id="log">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script language="JavaScript">

        {% if jobHandle is defined %}
           // $( document ).ready(function() {
                var status = "";
                while(status != "end") {
                    var url = "{{ path('projectsStageDeploymentDeploy', { 'id': project.id, 'stageId': stage.id, "deploymentId": deployment.id, "jobHandle": jobHandle.jobHandle }) }}";
                    var oParam = {};

                    var displayMessage = function(data){
                        if(data == "Wapistrano job ended") {
                            status = "end";
                        }
                        else if(data.indexOf("Python worker throw an error") > -1) {
                            status = "end";
                            $("#log").html((data || '') + status);
                        }
                        else {
                            alert('uu');
                            status = "end";
                            $("#log").html((data || '') + "hello");
                        }

                    };
                    status = "end";
                    loadData(url, "html", displayMessage, oParam);
                }
           // });



        {% endif %}
    </script>
{% endblock content %}



