{% extends 'WapistranoCoreBundle::base.html.twig' %}
{% block content %}
    {% form_theme form 'WapistranoCoreBundle:Form:fields.html.twig' %}


    <div class="box primary">
        <header>
            <div class="icons">
                <i class="fa fa-building-o"></i>
            </div>
            <h5>{{ barTitle }}</h5>
            {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}

            <div class="toolbar">
                <a href="{{ path('usersList') }}" class="btn btn-default btn-sm" data-original-title="" title="">Cancel</a>
                {{ form_widget(form.saveTop, { 'attr': {'class': 'btn btn-default btn-sm'}, 'label' : 'Save' }) }}
            </div>
        </header>
        {% if flashMessage is defined  or null != form_errors(form) %}
            <div id="flashMessagePopin" class="">
                <i id="flashMessagePopinClose" class="glyphicon glyphicon-remove" style="float:right"></i>
                <span id="flashMessagePopinText">{{form_errors(form)}}</span>
            </div>
        {% endif %}
        <div class="body collapse in" id="div1">
            <div class="form-group">
                {{ form_label(form.login, null, { 'attr': {'class': 'control-label col-lg-4'} }) }}
                <div class="col-lg-4">
                    {{ form_widget(form.login, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.email) }}
                <div class="col-lg-4">
                    {{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.cryptedPassword.first) }}
                <div class="col-lg-4">
                    {{ form_widget(form.cryptedPassword.first) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.cryptedPassword.second) }}
                <div class="col-lg-4">
                    {{ form_widget(form.cryptedPassword.second) }}
                </div>
            </div>


            <div class="form-group">
                {{ form_label(form.admin) }}
                <div class="col-lg-1">
                {{ form_widget(form.admin) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.deactivated) }}
                <div class="col-lg-1">
                    {{ form_widget(form.deactivated) }}
                </div>
            </div>

            {% if form.project is defined %}
            <table id="dataTable" class="table table-bordered table-condensed table-hover table-striped">
                <thead>
                <tr>
                    <th>Access</th>
                    <th>Name</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>

                {% for child in form.project %}
                    {% set index = child.vars.value %}
                    <tr>
                        <td>{{ form_widget(child) }}</td>
                        <td> <div class="wrapCellContent" style="width: 12em;">{{ choices[index].name }}</div></td>
                        <td>
                            <div class="wrapCellContent" style="width: 56em;">{{ choices[index].description }}</div></td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>

            {% endif %}
            {{ form_end(form, {'render_rest': true}) }}
        </div>
    </div>
{% endblock content %}

