{% extends 'WapistranoCoreBundle::base_popin.html.twig' %}
{% block content %}
<div id="flashMessagePopin" class="" style="display:none">
    <span id="flashMessagePopinText">
        {% if flashMessagePopinText is defined %}
            {{ flashMessagePopinText|raw }}
        {% endif %}
        </span>
    <i id="flashMessagePopinClose" class="glyphicon glyphicon-remove" style="float:right"></i>
</div>
{{ form_start(form, {'action': formUrl, 'attr': {'class': 'form-horizontal', id : 'sendFormStage'} }) }}
    <div class="box primary">
        <div class="body collapse in" id="div1">
            <div class="form-group">
                {{ form_label(form.name, null, { 'attr': {'class': 'control-label col-lg-4'} }) }}
                <div class="col-lg-4">
                    {{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.alertEmails) }}
                <div class="col-lg-4">
                    {{ form_widget(form.alertEmails, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>

            {{ form_widget(form.saveBottom, { 'attr': {'class': 'btn btn-success btn-sm btn-grad'}, 'label' : 'Save' }) }}
        </div>
    </div>
    {{ form_end(form, {'render_rest': true}) }}
{% endblock content %}


