{% extends 'WapistranoCoreBundle::base.html.twig' %}
{% block content %}

    <div class="box primary">
        <header>
            <div class="icons">
                <i class="fa fa-building-o"></i>
            </div>
            <h5>{{ project.name }}</h5>
            <div class="toolbar">

            </div>
        </header>
        {% if null != flashMessage %}
        <div id="flashMessage" class="" style="">
            <i id="flashMessageClose" class="glyphicon glyphicon-remove" style="float:right"></i>
           {{ flashMessage }}

        </div>
        {% endif %}

    </div>

    <div id="collapse2" class="body">
        <div class="col-lg-6">
            <div class="box">
                <div class="body">
                    <div id="headBoxLeft">
                    <strong>Description</strong>
                    <br>
                    {{ project.description }}
                        <div class="action">
                            <a href="{{ path('projectsEdit', { 'id': project.id }) }}" class="btn btn-success btn-xs btn-grad popProjectAjax" data-original-title="" title="">
                                <i class="glyphicon glyphicon-edit"></i>
                            </a>
                            <a href="{{ path('projectsDelete', { 'id': project.id }) }}" class="btn btn-danger btn-xs btn-grad confirm">
                                <i class="glyphicon glyphicon-remove"></i>
                            </a>
                        </div>
                    </div>


                </div><!-- /.body -->
            </div><!-- /.box -->
        </div>
        <div class="col-lg-6">
            <div class="box">
                <div class="body">
                    <div id="headBoxRight">
                        <strong>Choose a stage</strong>
                        <br>
                        {{ wapi_render_stage_list({"projectId" : project.id, "displayType" : "right"}) }}
                    </div><!-- /#trigo -->
                </div><!-- /.body -->
            </div><!-- /.box -->
        </div>
    </div>

<div id="collapse1" class="body">
    <div class="col-lg-12">
        <div class="box">
            <div class="body">
            <h4>Project configurations
                <a href="{{ newConfigurationUrl }}" class="btn btn-success btn-xs btn-grad popConfigurationAjax">
                    <i class="glyphicon glyphicon-plus"></i>
                </a>
            </h4>
                <div id="popup"></div>
                <div id="configurationList">
                    {{ wapi_render_configuration_list({"projectId" : project.id}) }}
                </div>

            </div>
        </div>
    </div>
</div>

<div id="collapse1" class="body">
    <div class="col-lg-12">
        <div class="box">
            <div class="body">
                <h4>Project stages
                    <a href="{{ newStageUrl }}" class="btn btn-success btn-xs btn-grad popStageAjax">
                        <i class="glyphicon glyphicon-plus"></i>
                    </a>
                </h4>
                <div id="popup"></div>
                <div id="stageList">
                    {{ wapi_render_stage_list({"projectId" : project.id}) }}
                </div>

            </div>
        </div>
    </div>
</div>
    <script language="javascript">
        /* Ajax bPopup */
        /* used to create or update a project */
        $('body').on('click','.popProjectAjax',function(e){
            e.preventDefault();
            ajaxBPopup($(this).attr('href'));
        });
        $("body").on("submit", "#sendFormProject", function() {
            var form = $(this);
            $.post($(this).attr("action"), form.serialize(),
                    function success(data){
                        $("#flashMessagePopinText").html("Element updated successfully!");
                        $("#flashMessagePopin").show("slow");
                    });

            return false;
        })

        /* Ajax bPopup */
        /* used to create or update a stage */
        $('body').on('click','.popStageAjax',function(e){
            e.preventDefault();
            ajaxBPopup($(this).attr('href'));
        });
        $("body").on("submit", "#sendFormStage", function() {
            var form = $(this);
            $.post($(this).attr("action"), form.serialize(),
                    function success(data){
                        var reg=new RegExp("edit","gi");
                        if(form.attr("action").match(reg)) {
                            $("#flashMessagePopinText").html("Element updated successfully!");
                        } else {
                            $("#flashMessagePopinText").html("Element created successfully! <br>You can now create another one or just close the window.");
                        }

                        $("#flashMessagePopin").show("slow");
                        updateStageList();
                    });

            return false;
        })


        /* Ajax bPopup */
        /* used to create or update a configuration */
        $('body').on('click','.popConfigurationAjax',function(e){
            e.preventDefault();
            ajaxBPopup($(this).attr('href'));
        });
        $("body").on("submit", "#sendFormConfiguration", function() {
            var form = $(this);
            $.post($(this).attr("action"), form.serialize(),
                    function success(data){
                        var reg=new RegExp("edit","gi");
                        if(form.attr("action").match(reg)) {
                            $("#flashMessagePopinText").html("Element updated successfully!");
                        } else {
                            $("#flashMessagePopinText").html("Element created successfully! <br>You can now create another one or just close the window.");
                        }

                        $("#flashMessagePopin").show("slow");
                        updateConfigurationList();
                    });

            return false;
        })


        function updateConfigurationList() {
            var url = "{{ path('projectsConfigurationList', { 'id': project.id }) }}";
            var oParam = {};
            var displayMessage = function(data){
                $("#configurationList").html((data || ''));
            };
            loadData(url,"html",displayMessage,oParam);

        }

        function updateStageList() {
            var url = "{{ path('projectsStageList', { 'id': project.id }) }}";
            var oParam = {};
            var displayMessage = function(data){
                $("#stageList").html((data || ''));
            };
            loadData(url,"html",displayMessage,oParam);

        }

    </script>
{% endblock content %}

