{% extends 'WapistranoCoreBundle::base.html.twig' %}
{% block content %}

    <div class="box primary">
        <header>
            <div class="icons">
                <i class="fa fa-building-o"></i>
            </div>
            <h5>Stage {{ stage.name }}</h5>
            <div class="toolbar">

            </div>
        </header>
        {% if null != flashMessage %}
        <div id="flashMessage" class="" style="">
            <i id="flashMessageClose" class="glyphicon glyphicon-remove" style="float:right"></i>
           {{ flashMessage }}

        </div>
        {% endif %}

    </div>

    <div id="collapse2" class="body">
        <div class="col-lg-6">
            <div class="box">
                <div class="body">
                    <div id="headBoxLeft">
                    <strong>Name</strong>: {{ stage.name }}<br>
                    <strong>Project</strong>: <span class="label label-warning">{{ project.name }}</span><br>
                    <strong>Alert on deploy</strong>: {{ stage.alertEmails }}<br>

                        <div class="action">
                            <a href="{{ path('projectsStageEdit', { 'projectId': project.id, "stageId" : stage.id }) }}" class="btn btn-success btn-xs btn-grad popStageAjax" data-original-title="" title="">
                                <i class="glyphicon glyphicon-edit"></i>
                            </a>
                            <a href="{{ path('projectsStageDelete', { 'projectId': project.id, "stageId" : stage.id }) }}" class="btn btn-danger btn-xs btn-grad confirm">
                                <i class="glyphicon glyphicon-remove"></i>
                            </a>
                        </div>
                    </div>


                </div><!-- /.body -->
            </div><!-- /.box -->
        </div>
        <div class="col-lg-6">
            <div class="box">
                <div class="body">
                    <div id="headBoxRight">
                        <strong>Deployments actions</strong>
                        <br>

                    </div><!-- /#trigo -->
                </div><!-- /.body -->
            </div><!-- /.box -->
        </div>
    </div>

<div id="collapse1" class="body">
    <div class="col-lg-12">
        <div class="box">
            <div class="body">
            <h4>Stage specific configurations
                <a href="{{ newConfigurationUrl }}" class="btn btn-success btn-xs btn-grad popConfigurationAjax">
                    <i class="glyphicon glyphicon-plus"></i>
                </a>
            </h4>
                <div id="popup"></div>
                <div id="configurationList">
                    {{ wapi_render_configuration_list({"projectId" : project.id, "stageId" : stage.id}) }}
                </div>

            <div class="action">
                <a id="effectiveConfigurationManage" href="#">Show effective configuration</a>
            </div>
            <div id="effectiveConfiguration">
                <h4>Effective configurations</h4>
                <div id="effectiveConfigurationList">
                    {{ wapi_render_effective_configuration_list({"projectId" : project.id, "stageId" : stage.id}) }}
                </div>
            </div>


            </div>
        </div>
    </div>
</div>
<div id="collapse1" class="body">
    <div class="col-lg-12">
        <div class="box">
            <div class="body">
                <h4>Used recipes</h4>
                <div id="popup"></div>
                <div id="configurationList">
                    {{ wapi_render_stage_recipe_list({"projectId" : project.id, "stageId" : stage.id}) }}
                </div>

                <div class="action">
                    <a id="recipesManage" href="#">Manage stage recipes</a>
                </div>
                <div id="recipesManagement">
                    <h4>Recipes management </h4>
                    <div id="recipesManagementForm">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="collapse1" class="body">
    <div class="col-lg-12">
        <div class="box">
            <div class="body">
                <h4>Hosts
                    <a href="{{ newRoleUrl }}" class="btn btn-success btn-xs btn-grad popRoleAjax">
                        <i class="glyphicon glyphicon-plus"></i>
                    </a>
                </h4>
                <div id="popup"></div>
                <div id="stageList">
                    {{ wapi_render_role_list({"projectId" : project.id, "stageId" : stage.id}) }}
                </div>


            </div>
        </div>
    </div>
</div>

    <script language="javascript">

        $("body").on("click", "#optionaSubFormManager", function() {
            if($(this).hasClass("visible")) {
                $(".optionaSubForm").toggle("fast");
                $(this).children().attr('class', 'glyphicon glyphicon-plus');
                $(this).removeClass("visible");
            } else{
                $(".optionaSubForm").show("fast");
                $(this).children().attr('class', 'glyphicon glyphicon-minus');
                $(this).addClass("visible");
            }
            event.preventDefault();
        });


        /* Ajax bPopup */
        /* used to create or update a stage */
        $('body').on('click','#recipesManage',function(e){
            if($("#recipesManagement").is(":visible")) {
                $("#recipesManagement").toggle("slow");
                $("#recipesManage").html("Manage stage recipes");
            } else {
                $("#recipesManage").html("Hide recipes management");
                e.preventDefault();
                var url = "{{ path('projectsStageRecipeManage', { 'projectId': project.id, 'stageId': stage.id }) }}";
                var oParam = {};
                var displayMessage = function(data){
                    $("#recipesManagementForm").html((data || ''));
                };
                loadData(url, "html", displayMessage, oParam);
                $("#recipesManagement").show("slow");
            }


        });

        /* Ajax bPopup */
        /* used to create or update a role */
            $('body').on('click','.popRoleAjax',function(e){
                e.preventDefault();
                ajaxBPopup($(this).attr('href'));
            });
            $("body").on("submit", "#sendFormRole", function() {
                var form = $(this);
                $.post($(this).attr("action"), form.serialize(),
                        function success(data){
                            $("#popinContent").html(data);

                            var reg=new RegExp("edit","gi");
                            if ($("#flashMessagePopinText").html().trim() == "") {
                                if(form.attr("action").match(reg)) {
                                    $("#flashMessagePopinText").html("Element updated successfully!");
                                } else {
                                    $("#flashMessagePopinText").html("Element created successfully! <br>You can now create another one or just close the window.");
                                }
                            }

                            $("#flashMessagePopin").show("slow");
                            updateRoleList();
                        }).fail( function(xhr, textStatus, errorThrown) {
                            $("#flashMessagePopinText").html(xhr.responseText);
                        });;

                return false;
            })

        /* Ajax bPopup */
        /* used to create or update a stage */
        $('body').on('click','.popStageAjax',function(e){
            e.preventDefault();
            ajaxBPopup($(this).attr('href'));
        });
        $("body").on("submit", "#sendFormStage", function() {
            var form = $(this);
            $.post($(this).attr("action"), form.serialize(),
                    function success(data){
                        $(".popStageAjax").bPopup().close();
                        location.reload();
                    });

            return false;
        })

        /* Ajax bPopup */
        /* used to create or update a configuration */
        $('body').on('click','.popConfigurationAjax',function(e){
            e.preventDefault();
            ajaxBPopup($(this).attr('href'));
        });
        $("body").on("submit", "#sendFormConfiguration", function() {
            var form = $(this);
            $.post($(this).attr("action"), form.serialize(),
                    function success(data){
                        var reg=new RegExp("edit","gi");
                        if(form.attr("action").match(reg)) {
                            $("#flashMessagePopinText").html("Element updated successfully!");
                        } else {
                            $("#flashMessagePopinText").html("Element created successfully! <br>You can now create another one or just close the window.");
                        }

                        $("#flashMessagePopin").show("slow");
                        updateConfigurationList();
                    });

            return false;
        })

        function updateConfigurationList() {
            var url = "{{ path('stageConfigurationList', { 'projectId': project.id, 'stageId': stage.id }) }}";
            var oParam = {};
            var displayMessage = function(data){
                $("#configurationList").html((data || ''));
            };
            loadData(url, "html", displayMessage, oParam);

        }

        function updateRoleList() {
            var url = "{{ path('projectsStageRoleList', { 'projectId': project.id, 'stageId': stage.id }) }}";
            var oParam = {};
            var displayMessage = function(data){
                $("#stageList").html((data || ''));
            };
            loadData(url, "html", displayMessage, oParam);

        }

    </script>
{% endblock content %}

