{% extends 'WapistranoCoreBundle::base.html.twig' %}
{% block content %}

<div class="box primary">
    <header>
        <div class="icons">
            <i class="fa fa-building-o"></i>
        </div>
        <h5> {{ barTitle }}</h5>
        <div class="toolbar">

        </div>
    </header>
    {% if null != flashMessage %}
        <div id="flashMessage" class="" style="">
            <i id="flashMessageClose" class="glyphicon glyphicon-remove" style="float:right"></i>
            {{ flashMessage }}

        </div>
    {% endif %}

</div>
<div id="collapse2" class="body">
    <div class="col-lg-6">
        <div class="box">
            <div class="body">
                <div id="headBoxLeft">
                    <div class="">
                        Task executed: {{ deployment.task }}
                    </div>
                    <div class="">
                        Description:<br>
                        {{ deployment.description }}
                        Started at: {{ deployment.createdAt|date('Y-m-d i:s') }}<br>
                        Completed at: {{ deployment.completedAt|date('Y-m-d i:s') }}<br>
                    </div>
                </div>


            </div><!-- /.body -->
        </div><!-- /.box -->
    </div>
    <div class="col-lg-2">
        <div class="box">
            <div class="body">
                <div id="headBoxRight" style="text-align: center">
                    <strong>Status</strong>
                    <div id="status">
                        {{ wapi_render_loader({"loader" : "bgWhite", "message" : "<br>Deploy running..."}) }}
                    </div>

                </div><!-- /#trigo -->
            </div><!-- /.body -->
        </div><!-- /.box -->
    </div>
</div>
    <div id="collapse1" class="body">
        <div class="col-lg-12">
            <div class="box">
                <div class="body">
                    <h4>Execution log</h4>
                    <div id="log">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script language="JavaScript">

        {% if deployment.jobHandle is defined %}
        $( document ).ready(function() {
            var status = "start";
            while(status != "end") {
                var url = "{{ path('projectsStageDeploymentDeploy', { 'id': project.id, 'stageId': stage.id, "deploymentId": deployment.id, "jobHandle": deployment.jobHandle }) }}";

                var displayMessage = function(data) {
                    if(data["status"] == "success") {
                        status = "end";
                        $("#log").html((data["log"] || ''));
                        $("#status").html("<img src='{{asset('img/status_success.gif') }}'>");
                    }
                    else if(data["status"] == "failed") {
                        status = "end";
                        $("#log").html((data["log"] || ''));
                        $("#status").html("<img src='{{asset('img/status_failed.gif') }}'>");

                    } else if(data["status"] == "running") {
                        $("#log").html((data["log"] || ''));
                    }

                };
                checkJobLog(url,  displayMessage);
            }
        });
        {% endif %}
    </script>
{% endblock content %}



