{% extends 'WapistranoCoreBundle::base.html.twig' %}
{% block content %}

    <div class="box primary">
        <header>
            <div class="icons">
                <i class="fa fa-building-o"></i>
            </div>
            <h5>{{ barTitle }}</h5>
            <div class="toolbar">

            </div>
        </header>
        {% if null != flashMessage %}
        <div id="flashMessage" class="" style="">
            <i id="flashMessageClose" class="glyphicon glyphicon-remove" style="float:right"></i>
           {{ flashMessage }}

        </div>
        {% endif %}
        <div id="collapse3" class="body">
        <table id="dataTable" class="table table-bordered table-condensed table-hover table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Status</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>

        {% for recipe in recipes %}
            <tr>
                <td>

                    <a href="{{ path('recipesEdit', { 'id': recipe.id }) }}">{{ recipe.getName }}
                    </a>
                </td>
                <td>{{ recipe.getDescription }}</td>
                <td>
                    <a href="{{ path('recipesEdit', { 'id': recipe.id }) }}" class="btn btn-success btn-xs btn-grad" data-original-title="" title="">
                        <i class="glyphicon glyphicon-edit"></i>
                    </a>
                </td>
                <td>
                    <a href="{{ path('recipesDelete', { 'id': recipe.id }) }}" class="btn btn-danger btn-xs btn-grad confirm" data-original-title="" title="">
                            <i class="glyphicon glyphicon-remove"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}

        </tbody>
        </table>
        </div>
    </div>

{% endblock content %}

